
 .navbar {
    margin-bottom: 50px;
    border-radius: 0;
  }

  .jumbotron {
    margin-bottom: 0;
  }


  .footer {
    background-color: #b9b4b4;
    padding: 25px;
  }

*{box-sizing: border-box;
    margin: 0; padding: 0;
}



